# Web export output
Bright Quest.html
Bright Quest.js
Bright Quest.pck
Bright Quest.wasm
Bright Quest.png
Bright Quest.png.import
Bright Quest.icon.png
Bright Quest.icon.png.import
Bright Quest.apple-touch-icon.png
Bright Quest.apple-touch-icon.png.import
Bright Quest.audio.worklet.js
Bright Quest.audio.position.worklet.js
index.html

# Itch.io upload bundle
BrightQuest-itch.zip
